.App {
    font-family: sans-serif;
    text-align: center;
  }
  #email {
    border-color: red;
  }
  #alert {
    display: none;
  }
  #passworderror {
    display: none;
  }
  #sucessful {
    display: none;
  }
  #firstandlast {
    display: none;
  }
  